*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}

nav{
    display: flex;
 
}
h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 100px;
}

.menu{

    color: rgb(7, 5, 5);
    margin: 0%;
    padding: 1%;
    font-size: 12px;
    font-weight: bold;
    width: 8%;
}
div{
    display: flex;
}

#logoa{
    font-family: 'ZCOOL KuaiLe', cursive;
    width: 20%;
    text-align: center;
    margin-top: 0.5%;
    font-weight: bold;
}


header{
    width: 100%;
    height: 90vh;
    align-items: center;

}
h1{
    padding-top: 15%;
}
h1,h2{
    text-align: center;
    color: white;
}

img{
    width: 20px;
    height: 15px;
    margin:5px;
}

.video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    }
#video_pattern {
    background:#fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    }